/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -moz-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

@media (max-width: 768px) {
  html, body {
    height: auto;
    overflow: initial;
  }
}
.page {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  -moz-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1);
}

.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (max-width: 1450px) {
  .container {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: " ";
    display: block;
    clear: both;
  }
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body, section .title h1 p {
  font-family: "Microsoft Jhenghei",  Helvetica, "STHeitiTC-Light", Arial, sans-serif;
  font-style: normal;
}

.nav ul, .fullscreen ul, .products .product-list ul,
.products .product-image ul, .video-list ul, .video-menu ul, .event ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.25em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.125em;
  line-height: 1.3333333333em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.875em;
  line-height: 1.7142857143em;
}

h6 {
  font-size: 0.75em;
  line-height: 2em;
}

p {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 1em;
  line-height: 1.5em;
}

blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-left: 3px solid #a0a0a0;
  padding-left: 1.5em;
  font-size: 1em;
  line-height: 1.5em;
}

ol, ul {
  margin-top: 0em;
  margin-bottom: 0em;
}
ol ol, ol ul, ul ol, ul ul {
  margin: 0;
  padding: 0;
}

dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0;
}

a {
  color: #333;
  text-decoration: underline;
}
a:hover {
  color: #a97935;
}
a img {
  border: none;
}

img {
  max-width: 100%;
  margin-bottom: 0em;
  display: block;
}

hr, .divider {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-top: 1px solid #a0a0a0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background-color: transparent;
  z-index: 2;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.header:hover, .header.is-leave {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (max-width: 1450px) {
  .header {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 80px;
    background-color: #a97935;
  }
  .header:hover, .header.is-leave {
    background-color: #a97935;
  }
}
@media (max-width: 480px) {
  .header {
    height: 60px;
  }
}

.logo {
  position: absolute;
  left: 30px;
  top: 30px;
}
.logo a {
  display: block;
  width: 175px;
  height: 90px;
  text-indent: -500%;
  background-image: url("../images/icon-logo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo a {
    background-image: url("../images/icon-logo@2x.png");
    background-size: 175px 90px;
  }
}
@media (max-width: 1450px) {
  .logo {
    top: 20px;
    left: 20px;
  }
  .logo a {
    width: 125px;
    height: 64px;
    background-size: 125px 64px;
    background-image: url("../images/icon-logo.png");
  }
}
@media only screen and (max-width: 1450px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1450px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 1450px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 1450px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1450px) and (min-resolution: 192dpi), only screen and (max-width: 1450px) and (min-resolution: 2dppx) {
  .logo a {
    background-image: url("../images/icon-logo@2x.png");
    background-size: 125px 64px;
  }
}

@media (max-width: 768px) {
  .logo {
    top: 10px;
    left: 10px;
  }
  .logo a {
    width: 117px;
    height: 60px;
    background-size: 117px 60px;
    background-image: url("../images/icon-logo.png");
  }
}
@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 768px) and (min-device-pixel-ratio: 2), only screen and (max-width: 768px) and (min-resolution: 192dpi), only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .logo a {
    background-image: url("../images/icon-logo@2x.png");
    background-size: 117px 60px;
  }
}

@media (max-width: 480px) {
  .logo a {
    width: 78px;
    height: 40px;
    background-size: 78px 40px;
    background-image: url(../images/icon-logo@2x.png);
  }
}

.main-nav {
  position: absolute;
  top: 60px;
  right: 30px;
}
@media (max-width: 1450px) {
  .main-nav {
    top: 40px;
  }
}
@media (max-width: 768px) {
  .main-nav {
    top: 30px;
  }
}
@media (max-width: 480px) {
  .main-nav {
    top: 20px;
    right: 20px;
    width: 50%;
    text-align: right;
  }
}

.share-facebook {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: 0 0;
  background-image: url("../images/icon-fb.png");
  vertical-align: middle;
  margin-right: 10px;
  -moz-transition: all 275ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 275ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 275ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 275ms cubic-bezier(0.67, 0, 0.16, 1);
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .share-facebook {
    background-image: url("../images/icon-fb@2x.png");
    background-size: 48px auto;
  }
}
.share-facebook:hover, .share-facebook:focus {
  background-position: -24px 0;
}
.share-facebook a {
  display: block;
  width: 24px;
  height: 24px;
}
@media (max-width: 480px) {
  .share-facebook {
    width: 20px;
    height: 20px;
    background-image: url(../images/icon-fb@2x.png);
    background-size: 40px auto;
  }
  .share-facebook:hover {
    background-position: -20px 0;
  }
}

.nav {
  display: inline-block;
  height: 25px;
  width: 0;
  overflow: hidden;
  vertical-align: middle;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
}
.nav li {
  display: inline-block;
}
.nav li:before {
  content: "/";
  padding: 0 5px;
  display: inline;
  color: white;
}
.nav li a {
  font-size: 18px;
  color: white;
  text-decoration: none;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.nav li a:hover {
  color: #a97935;
}
.nav li.active a {
  color: #a97935;
}
.nav li:first-child:before {
  content: none;
}
.nav.open {
  width: 440px;
}
@media (max-width: 768px) {
  .nav li a {
    color: white;
  }
  .nav li a:hover {
    color: white;
  }
  .nav li.active a {
    color: white;
    text-decoration: underline;
  }
}
@media (max-width: 480px) {
  .nav {
    display: block;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 0%;
    left: 0;
    top: 60px;
    background-color: #a97935;
  }
  .nav ul {
    padding-top: 2em;
  }
  .nav li {
    display: block;
    text-align: center;
    line-height: 60px;
  }
  .nav li:before {
    content: none;
  }
  .nav li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .nav li a:hover {
    color: white;
  }
  .nav li.active a {
    color: white;
    text-decoration: none;
  }
  .nav li:first-child a:before {
    content: none;
  }
  .nav.open {
    width: 100%;
    height: 100%;
  }
}

.toggle {
  display: inline-block;
}
.toggle a {
  display: block;
  color: white;
  text-decoration: none;
}
.toggle a:hover .toggle-icon span, .toggle a:hover .toggle-icon:before, .toggle a:hover .toggle-icon:after {
  background-color: #a97935;
}
.toggle a:hover .toggle-text {
  color: #a97935;
}
.toggle .toggle-icon {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 30px;
  height: 20px;
}
.toggle .toggle-icon span {
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 50%;
  margin-top: -1px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.toggle .toggle-icon:before, .toggle .toggle-icon:after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background-color: white;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.toggle .toggle-icon:before {
  top: 0;
}
.toggle .toggle-icon:after {
  bottom: 0;
}
.toggle a.active .toggle-icon span {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.toggle a.active .toggle-icon:before, .toggle a.active .toggle-icon:after {
  background-color: #a97935;
}
.toggle a.active .toggle-icon:before {
  top: 45%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.toggle a.active .toggle-icon:after {
  bottom: 45%;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.toggle a.active .toggle-text {
  color: #a97935;
}
.toggle .toggle-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  margin-right: 10px;
  color: white;
  -moz-transition: color 275ms ease;
  -o-transition: color 275ms ease;
  -webkit-transition: color 275ms ease;
  transition: color 275ms ease;
}
@media (max-width: 768px) {
  .toggle a:hover .toggle-icon span, .toggle a:hover .toggle-icon:before, .toggle a:hover .toggle-icon:after {
    background-color: white;
  }
  .toggle a:hover .toggle-text {
    color: white;
  }
  .toggle a.active .toggle-icon:before, .toggle a.active .toggle-icon:after {
    background-color: white;
  }
  .toggle a.active .toggle-text {
    color: white;
  }
}
@media (max-width: 480px) {
  .toggle .toggle-text {
    font-size: 14px;
  }
}

.fullscreen {
  background-color: #000;
}
.fullscreen .fullscreen-img {
  position: relative;
}
.fullscreen .embed-responsive {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -236px 0 0 -315px;
  z-index: 1;
}
.fullscreen .embed-responsive:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2NjVjOCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjMDY2NWM4Ii8+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZWMyOTNhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWMyOTNhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0665c8), color-stop(33%, #0665c8), color-stop(33%, #ffffff), color-stop(66%, #ffffff), color-stop(66%, #ec293a), color-stop(100%, #ec293a));
  background-image: -moz-linear-gradient(left, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  background-image: -webkit-linear-gradient(left, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  background-image: linear-gradient(to right, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  position: absolute;
  top: -10px;
  left: 0;
  z-index: 2;
}
.fullscreen .embed-responsive:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA2NjVjOCIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjMDY2NWM4Ii8+PHN0b3Agb2Zmc2V0PSIzMyUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iNjYlIiBzdG9wLWNvbG9yPSIjZWMyOTNhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWMyOTNhIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0665c8), color-stop(33%, #0665c8), color-stop(33%, #ffffff), color-stop(66%, #ffffff), color-stop(66%, #ec293a), color-stop(100%, #ec293a));
  background-image: -moz-linear-gradient(top, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  background-image: -webkit-linear-gradient(top, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  background-image: linear-gradient(to bottom, #0665c8 0%, #0665c8 33%, #ffffff 33%, #ffffff 66%, #ec293a 66%, #ec293a 100%);
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 1;
}
.fullscreen .embed-responsive .ratio {
  display: none;
}
.fullscreen .embed-responsive iframe, .fullscreen .embed-responsive video {
  width: 630px;
  height: 472px;
  display: block;
  position: relative;
  z-index: 3;
}
.fullscreen .embed-responsive ~ .slide-text {
  display: none;
}
@media (max-width: 768px) {
  .fullscreen .embed-responsive {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
  }
  .fullscreen .embed-responsive:before {
    width: 89.9%;
    height: 90%;
    left: 5%;
  }
  .fullscreen .embed-responsive:after {
    width: 90%;
    height: 90%;
    padding: 10px 2%;
    left: 2.8%;
  }
  .fullscreen .embed-responsive .ratio {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
  }
  .fullscreen .embed-responsive iframe, .fullscreen .embed-responsive video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
@media (max-width: 480px) {
  .fullscreen .embed-responsive ~ .slide-text {
    display: block;
  }
}
.fullscreen .videoBg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center center;
  -webkit-filter: blur(14px);
  filter: blur(14px);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.fullscreen .slide-text {
  position: absolute;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 10;
  left: 5%;
  bottom: 5%;
  width: 450px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fullscreen .slide-text p {
  font-size: 16px;
  text-align: left;
  line-height: 170%;
}
.fullscreen .slide-text p.bottom {
  margin-top: 10px;
  text-align: right;
}
@media (max-width: 768px) {
  .fullscreen .slide-text {
    width: 60%;
  }
  .fullscreen .slide-text p {
    font-size: 13px;
  }
}
@media (max-width: 480px) {
  .fullscreen .slide-text {
    position: static;
    width: 90%;
    left: inherit;
    right: inherit;
    bottom: inherit;
    top: inherit;
    background-color: black;
    padding: 10px;
  }
  .fullscreen .slide-text p {
    font-size: 12px;
    line-height: 150%;
  }
}
.fullscreen .fp-tableCell {
  position: relative;
  text-align: center;
}
.fullscreen .fp-controlArrow {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(169, 121, 53, 0.8);
  text-indent: 100%;
  overflow: visible;
  background-position: center center;
  background-repeat: no-repeat;
  top: 50%;
  margin-top: -40px;
  z-index: 2;
}
.fullscreen .fp-controlArrow.fp-prev {
  left: 0;
  background-image: url("../images/icon-arrow_prev.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fullscreen .fp-controlArrow.fp-prev {
    background-image: url("../images/icon-arrow_prev@2x.png");
    background-size: 20px 40px;
  }
}
.fullscreen .fp-controlArrow.fp-next {
  right: 0;
  background-image: url("../images/icon-arrow_next.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fullscreen .fp-controlArrow.fp-next {
    background-image: url("../images/icon-arrow_next@2x.png");
    background-size: 20px 40px;
  }
}
@media (max-width: 1024px) {
  .fullscreen .fp-controlArrow {
    top: 50%;
    margin-top: -40px;
  }
  .fullscreen .fp-controlArrow.fp-prev {
    left: 0;
    right: auto;
  }
}
@media (max-width: 480px) {
  .fullscreen .fp-controlArrow {
    width: 44px;
    height: 44px;
    top: inherit;
    bottom: 0;
    margin-top: 0;
  }
  .fullscreen .fp-controlArrow.fp-prev {
    background-image: url("../images/icon-arrow_prev.png");
  }
}
@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 480px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 480px) and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-resolution: 192dpi), only screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .fullscreen .fp-controlArrow.fp-prev {
    background-image: url("../images/icon-arrow_prev@2x.png");
    background-size: 10px 20px;
  }
}
@media (max-width: 480px) {
  .fullscreen .fp-controlArrow.fp-next {
    background-image: url("../images/icon-arrow_next.png");
  }
}
@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 480px) and (-o-min-device-pixel-ratio: 2 / 1), only screen and (max-width: 480px) and (min-device-pixel-ratio: 2), only screen and (max-width: 480px) and (min-resolution: 192dpi), only screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .fullscreen .fp-controlArrow.fp-next {
    background-image: url("../images/icon-arrow_next@2x.png");
    background-size: 10px 20px;
  }
}

.fullscreen li {
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 768px) {
  .fullscreen li {
    overflow: inherit;
  }
}
.fullscreen li a {
  text-decoration: none;
}
.fullscreen li img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: none;
}
@media (max-width: 768px) {
  .fullscreen li img {
    position: static;
    left: 0;
    top: 0;
    max-width: 100%;
    overflow: inherit;
  }
}
.fullscreen .bx-controls-direction {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -40px;
}
.fullscreen .bx-controls-direction a {
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(169, 121, 53, 0.8);
  text-indent: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}
.fullscreen .bx-controls-direction .disabled {
  background-color: rgba(153, 153, 153, 0.8);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
}
.fullscreen .bx-controls-direction .bx-prev {
  left: 0;
  background-image: url("../images/icon-arrow_prev.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fullscreen .bx-controls-direction .bx-prev {
    background-image: url("../images/icon-arrow_prev@2x.png");
    background-size: 10px 20px;
  }
}
.fullscreen .bx-controls-direction .bx-next {
  right: 0;
  background-image: url("../images/icon-arrow_next.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .fullscreen .bx-controls-direction .bx-next {
    background-image: url("../images/icon-arrow_next@2x.png");
    background-size: 10px 20px;
  }
}
@media (max-width: 480px) {
  .fullscreen .bx-controls-direction {
    top: inherit;
    bottom: 44px;
  }
  .fullscreen .bx-controls-direction a {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 768px) {
  .fullscreen {
    margin-top: 80px;
  }
}
@media (max-width: 480px) {
  .fullscreen {
    margin-top: 60px;
  }
}

.mouse-wheel {
  position: absolute;
  left: 50%;
  bottom: 50px;
  border: 3px solid white;
  width: 18px;
  background-color: transparent;
  height: 35px;
  margin-left: -9px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  z-index: 99;
}
@media (max-width: 1450px) {
  .mouse-wheel {
    bottom: 80px;
  }
}
@media (max-width: 1024px) {
  .mouse-wheel {
    display: none;
  }
}
.mouse-wheel:hover {
  cursor: pointer;
}
.mouse-wheel .wheel {
  width: 1px;
  height: 1px;
  border: 2px solid white;
  background-color: white;
  position: relative;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  top: 7px;
  -moz-animation: wheelscroll 1s infinite;
  -webkit-animation: wheelscroll 1s infinite;
  animation: wheelscroll 1s infinite;
}

@-webkit-keyframes wheelscroll {
  0% {
    top: 6px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    top: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-moz-keyframes wheelscroll {
  0% {
    top: 6px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    top: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@-ms-keyframes wheelscroll {
  0% {
    top: 6px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    top: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@keyframes wheelscroll {
  0% {
    top: 6px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  80% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
  100% {
    top: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .fullscreen .slide img {
    top: auto;
  }
}
.mejs-offscreen {
  display: none;
}

.products {
  background-color: #e0e0e0;
  position: relative;
  *zoom: 1;
}
.products:after {
  content: "";
  display: table;
  clear: both;
}
.products .product-list,
.products .product-image {
  width: 50%;
  height: 100%;
}
.products .product-block {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}
.products .product-list {
  position: relative;
  text-align: center;
}
.products .product-image {
  top: 0;
  right: 0;
  position: absolute;
}
@media (max-width: 1024px) {
  .products .product-list {
    display: block;
  }
}
@media (max-width: 768px) {
  .products .product-block {
    position: static;
    top: inherit;
  }
  .products .product-list {
    width: 100%;
    padding-bottom: 100px;
  }
  .products .product-image {
    width: 100%;
    float: none;
    position: absolute;
    top: 0;
    z-index: 0;
  }
}
@media (max-width: 480px) {
  .products .product-list {
    padding-bottom: 50px;
  }
}

.product-list {
  z-index: 1;
}
.product-list .title {
  padding-top: 80px;
  margin-bottom: 2%;
}
@media (max-width: 1450px) {
  .product-list .title {
    padding-top: 60px;
    margin-bottom: 2%;
  }
}
@media (max-width: 1024px) {
  .product-list .title {
    padding-top: 60px;
    margin-bottom: 2%;
  }
}
@media (max-width: 768px) {
  .product-list .title {
    padding-top: 120px;
  }
}
@media (max-width: 480px) {
  .product-list .title {
    padding-top: 80px;
  }
}

.product-slide {
  width: 100%;
  margin: 0 auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 50px;
  max-width: 900px;
}
@media (max-width: 1450px) {
  .product-slide {
    padding: 0 20px;
  }
}
@media (max-width: 1024px) {
  .product-slide {
    padding: 0 10px;
  }
}
@media (max-width: 768px) {
  .product-slide {
    padding: 0 50px;
  }
}
@media (max-width: 480px) {
  .product-slide {
    padding: 0 10px;
    width: 100%;
  }
}
.product-slide ul {
  z-index: 0;
}
.product-slide li {
  text-align: center;
  z-index: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 1450px) {
  .product-slide li {
    min-height: 400px;
  }
}
@media (max-width: 480px) {
  .product-slide li {
    min-height: initial;
  }
}
.product-slide li:nth-child(1) {
  background-image: url(../images/bg-product_bg_01.png);
}
.product-slide li:nth-child(2) {
  background-image: url(../images/bg-product_bg_02.png);
}
.product-slide li:nth-child(3) {
  background-image: url(../images/bg-product_bg_03.png);
}
.product-slide li:nth-child(4) {
  background-image: url(../images/bg-product_bg_04.png);
}
.product-slide li:nth-child(5) {
  background-image: url(../images/bg-product_bg_05.png);
}
.product-slide img {
  max-width: none;
  display: block;
  margin: 0 auto;
  padding: 50px 0 40px 0;
  width: 200px;
}
@media (max-width: 1450px) {
  .product-slide img {
    padding: 20px 0;
  }
}
@media (max-width: 1024px) {
  .product-slide img {
    width: 160px;
  }
}
@media (max-width: 480px) {
  .product-slide img {
    width: 150px;
  }
}
.product-slide .subject {
  font-size: 32px;
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .product-slide .subject {
    font-size: 26px;
  }
}
.product-slide .text {
  font-size: 14px;
}
@media (max-width: 480px) {
  .product-slide .text {
    padding: 0 15px;
  }
}
.product-slide .bx-controls-direction {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 0;
  z-index: 10;
}
.product-slide .bx-controls-direction a {
  position: absolute;
  display: block;
  width: 36px;
  height: 70px;
  background-size: 72px 70px;
  text-indent: -99999px;
  background-repeat: no-repeat;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  -webkit-transition: all 275ms ease;
  transition: all 275ms ease;
}
.product-slide .bx-controls-direction .disabled {
  display: none;
}
.product-slide .bx-controls-direction .bx-prev {
  left: 0;
  background-position: 0 0;
  background-image: url(../images/icon-arrow_prev_b@2x.png);
  background-size: 72px 70px;
}
.product-slide .bx-controls-direction .bx-prev:hover {
  background-position: -36px 0;
}
.product-slide .bx-controls-direction .bx-next {
  background-position: -36px 0;
  right: 0;
  background-image: url(../images/icon-arrow_next_b@2x.png);
  background-size: 72px 70px;
}
.product-slide .bx-controls-direction .bx-next:hover {
  background-position: 0 0;
}
@media (max-width: 480px) {
  .product-slide .bx-controls-direction {
    top: 20%;
  }
  .product-slide .bx-controls-direction a {
    width: 26px;
    height: 50px;
  }
  .product-slide .bx-controls-direction .bx-prev {
    left: 20px;
    background-image: url(../images/icon-arrow_prev_m@2x.png);
    background-size: 52px 50px;
  }
  .product-slide .bx-controls-direction .bx-prev:hover {
    background-position: -26px 0;
  }
  .product-slide .bx-controls-direction .bx-next {
    right: 20px;
    background-position: -26px 0;
    background-image: url(../images/icon-arrow_next_m@2x.png);
    background-size: 52px 50px;
  }
}
.product-slide .bx-pager {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 1024px) {
  .product-slide .bx-pager {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .product-slide .bx-pager {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 480px) {
  .product-slide .bx-pager {
    display: none;
  }
}
.product-slide .bx-pager > div {
  display: inline-block;
  width: 70px;
  height: 88px;
  margin: 0 20px;
  position: relative;
}
@media (max-width: 1450px) {
  .product-slide .bx-pager > div {
    width: 56px;
    height: 70px;
  }
}
@media (max-width: 1024px) {
  .product-slide .bx-pager > div {
    margin: 0 10px;
  }
}
.product-slide .bx-pager .bx-pager-item a {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background-size: 70px 88px;
  background-position: center center;
}
.product-slide .bx-pager .bx-pager-item:hover a, .product-slide .bx-pager .bx-pager-item.is-active a {
  -moz-transform: translate3d(0, -20px, 0);
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.product-slide .bx-pager .bx-pager-item:hover:after, .product-slide .bx-pager .bx-pager-item.is-active:after {
  -moz-transform: scale(2, 1);
  -ms-transform: scale(2, 1);
  -webkit-transform: scale(2, 1);
  transform: scale(2, 1);
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background-color: rgba(153, 153, 153, 0.5);
}
.product-slide .bx-pager .bx-pager-item:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  -webkit-transition: all 275ms ease;
  transition: all 275ms ease;
  background-color: rgba(153, 153, 153, 0.8);
  left: 50%;
  bottom: 0;
  margin-left: -10px;
  z-index: 0;
}
@media (max-width: 1450px) {
  .product-slide .bx-pager .bx-pager-item a {
    background-size: 56px 70px;
  }
}
.product-slide .bx-pager a {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 88px;
  text-indent: -99999px;
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  -webkit-transition: all 275ms ease;
  transition: all 275ms ease;
}
@media (max-width: 1450px) {
  .product-slide .bx-pager a {
    height: 70px;
    background-size: cover;
  }
}

.product-image {
  position: relative;
  position: absolute;
}
.product-image ul li {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
.product-image .bx-controls-direction {
  display: none;
}
@media (max-width: 768px) {
  .product-image {
    z-index: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
    opacity: 0.1;
    left: 0;
  }
  .product-image ul li {
    padding-top: 80px;
    height: 100vh !important;
  }
}

.film {
  background-color: #111;
  background-image: url(../images/bg-section_video.jpg);
  background-size: cover;
  background-position: center top;
  z-index: 1;
}
.film .title {
  margin-bottom: 2%;
}
.film .title h1 p {
  color: white;
}
@media (max-width: 1450px) {
  .film .title {
    margin-bottom: 2%;
  }
}
@media (max-width: 768px) {
  .film {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .film .title {
    margin-bottom: 20px;
  }
}

.video-area {
  *zoom: 1;
  margin: 0 auto;
}
.video-area:after {
  content: "";
  display: table;
  clear: both;
}

.video-list {
  width: 57.8947368421%;
  float: left;
  margin-right: 1.0526315789%;
  float: left;
}
@media (max-width: 1450px) {
  .video-list {
    width: 57.6271186441%;
    float: left;
    margin-right: 1.6949152542%;
  }
}
@media (max-width: 768px) {
  .video-list {
    width: 100%;
  }
}
.video-list li .video {
  position: relative;
  padding-bottom: 56.69%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-list li iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-list .info {
  display: none;
}
.video-list .bx-controls {
  display: none;
}
@media (max-width: 768px) {
  .video-list .info {
    display: block;
    background-color: #a97935;
    color: white;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .video-list .info .name {
    font-size: 18px;
  }
  .video-list .info .descripition {
    font-size: 15px;
  }
  .video-list .bx-controls {
    display: block;
    position: relative;
    margin: 20px 0 0 0;
  }
  .video-list .bx-controls .bx-pager {
    text-align: center;
    line-height: 100px;
  }
  .video-list .bx-controls .bx-pager > div {
    display: inline-block;
    vertical-align: middle;
  }
  .video-list .bx-controls .bx-pager > div a {
    display: block;
    width: 6px;
    height: 6px;
    text-indent: -9999px;
    background-color: #c3c3c3;
    margin: 0 5px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .video-list .bx-controls .bx-pager > div.is-active a {
    width: 10px;
    height: 10px;
    background-color: white;
  }
  .video-list .bx-controls .bx-controls-direction {
    position: absolute;
    top: 0;
    width: 100%;
  }
  .video-list .bx-controls .bx-controls-direction > a {
    position: absolute;
    display: block;
    width: 36px;
    height: 70px;
    background-size: 72px 70px;
    text-indent: -99999px;
    background-repeat: no-repeat;
    -moz-transition: all 275ms ease;
    -o-transition: all 275ms ease;
    -webkit-transition: all 275ms ease;
    transition: all 275ms ease;
  }
  .video-list .bx-controls .bx-controls-direction .bx-prev {
    left: 0;
    background-position: 0 0;
    background-image: url(../images/icon-arrow_prev_b@2x.png);
    background-size: 72px 70px;
  }
  .video-list .bx-controls .bx-controls-direction .bx-prev:hover {
    background-position: -36px 0;
  }
  .video-list .bx-controls .bx-controls-direction .bx-next {
    background-position: -36px 0;
    right: 0;
    background-image: url(../images/icon-arrow_next_b@2x.png);
    background-size: 72px 70px;
  }
  .video-list .bx-controls .bx-controls-direction .bx-next:hover {
    background-position: 0 0;
  }
}
@media (max-width: 480px) {
  .video-list .info .name {
    font-size: 16px;
  }
  .video-list .info .descripition {
    font-size: 13px;
  }
  .video-list .bx-controls .bx-pager {
    line-height: 50px;
  }
  .video-list .bx-controls .bx-controls-direction > a {
    width: 26px;
    height: 50px;
    background-size: 52px 50px;
  }
  .video-list .bx-controls .bx-controls-direction .bx-prev {
    background-image: url(../images/icon-arrow_prev_m@2x.png);
    background-size: 52px 50px;
  }
  .video-list .bx-controls .bx-controls-direction .bx-prev:hover {
    background-position: -26px 0;
  }
  .video-list .bx-controls .bx-controls-direction .bx-next {
    background-position: -26px 0;
    right: 0;
    background-image: url(../images/icon-arrow_next_m@2x.png);
    background-size: 52px 50px;
  }
  .video-list .bx-controls .bx-controls-direction .bx-next:hover {
    background-position: 0 0;
  }
}

.video-menu {
  width: 41.0526315789%;
  float: right;
  margin-right: 0;
  background-color: rgba(29, 29, 29, 0.7);
}
.video-menu li {
  padding: 15px;
  background-position: center top;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid #303030;
}
.video-menu li:before, .video-menu li:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.video-menu li:before {
  background-color: #a97935;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.video-menu li:after {
  background-color: #1d1d1d;
  z-index: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.video-menu li:hover:before, .video-menu li.is-active:before {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.video-menu li:hover:after, .video-menu li.is-active:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.video-menu li:hover .descripition, .video-menu li.is-active .descripition {
  display: block;
}
.video-menu a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  position: relative;
  z-index: 2;
}
.video-menu .name {
  margin-bottom: 10px;
}
.video-menu .descripition {
  display: none;
}
@media (max-width: 1450px) {
  .video-menu {
    width: 40.6779661017%;
    float: right;
    margin-right: 0;
  }
  .video-menu li {
    padding: 10px;
  }
  .video-menu .name {
    margin-bottom: 5px;
  }
}
@media (max-width: 768px) {
  .video-menu {
    display: none;
  }
}

.event {
  background-color: #e0e0e0;
  background-image: url(../images/bg-section_event.jpg);
  background-size: cover;
}
.event .title {
  margin-bottom: 2%;
}
@media (max-width: 1450px) {
  .event {
    padding-top: 0;
  }
  .event .title {
    margin-bottom: 2%;
  }
}
@media (max-width: 1024px) {
  .event .fp-tableCell {
    vertical-align: top;
  }
  .event .title {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .event {
    padding-top: 0;
  }
  .event .title {
    padding-top: 120px;
  }
}
@media (max-width: 480px) {
  .event .title {
    padding-top: 80px;
  }
}

.event-list {
  width: 100%;
  margin: 0 auto;
}
.event-list .bx-wrapper {
  width: 800px;
  margin: 0 auto;
  position: static;
}
@media (max-width: 1024px) {
  .event-list {
    position: relative;
  }
  .event-list .bx-wrapper {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .event-list {
    width: 70%;
    position: relative;
  }
  .event-list .bx-wrapper {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .event-list {
    width: 90%;
  }
}
.event-list a {
  -moz-transition: all 275ms ease;
  -o-transition: all 275ms ease;
  -webkit-transition: all 275ms ease;
  transition: all 275ms ease;
  text-decoration: none;
}
.event-list .img {
  position: relative;
}
.event-list .img:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -moz-box-shadow: inset 0 0 0 5px white;
  -webkit-box-shadow: inset 0 0 0 5px white;
  box-shadow: inset 0 0 0 5px white;
  z-index: 1;
}
.event-list img {
  position: relative;
  z-index: 0;
}
.event-list .descripition {
  *zoom: 1;
  font-size: 20px;
  padding-top: 10px;
}
.event-list .descripition:after {
  content: "";
  display: table;
  clear: both;
}
.event-list .descripition .subject {
  float: left;
}
.event-list .descripition .date {
  float: right;
  color: #666;
}
@media (max-width: 480px) {
  .event-list .descripition {
    font-size: 16px;
  }
  .event-list .descripition .subject {
    float: none;
    text-align: center;
  }
  .event-list .descripition .date {
    float: none;
    display: block;
    text-align: center;
  }
}
.event-list .bx-controls-direction {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 0;
  z-index: 10;
}
.event-list .bx-controls-direction a {
  display: block;
  width: 80px;
  height: 80px;
  background-color: rgba(169, 121, 53, 0.8);
  text-indent: 100%;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
}
.event-list .bx-controls-direction .bx-prev {
  left: 0;
  background-image: url("../images/icon-arrow_prev.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .event-list .bx-controls-direction .bx-prev {
    background-image: url("../images/icon-arrow_prev@2x.png");
    background-size: 10px 20px;
  }
}
.event-list .bx-controls-direction .bx-next {
  right: 0;
  background-image: url("../images/icon-arrow_next.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .event-list .bx-controls-direction .bx-next {
    background-image: url("../images/icon-arrow_next@2x.png");
    background-size: 10px 20px;
  }
}
@media (max-width: 1024px) {
  .event-list .bx-controls-direction {
    top: 50%;
    margin-top: -30px;
  }
  .event-list .bx-controls-direction a {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 768px) {
  .event-list .bx-controls-direction .bx-prev {
    left: -50px;
  }
  .event-list .bx-controls-direction .bx-next {
    right: -50px;
  }
}
@media (max-width: 480px) {
  .event-list .bx-controls-direction {
    top: 40%;
  }
  .event-list .bx-controls-direction a {
    width: 50px;
    height: 50px;
  }
  .event-list .bx-controls-direction .bx-prev {
    left: -10px;
    background-size: 15px 30px;
    background-image: url(../images/icon-arrow_prev@2x.png);
  }
  .event-list .bx-controls-direction .bx-next {
    right: -10px;
    background-size: 15px 30px;
    background-image: url(../images/icon-arrow_next@2x.png);
  }
}
.event-list .bx-controls-direction .disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
  cursor: default;
}
.event-list .msg {
  text-align: center;
  font-size: 18px;
}

.event-timeline {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}
.event-timeline:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #666;
  position: absolute;
  bottom: 76px;
  z-index: 0;
}
.event-timeline #timeline-list {
  padding: 20px 0;
  position: relative;
  z-index: 2;
}
.event-timeline #timeline-list .city {
  display: inline-block;
  position: relative;
  width: 735px;
  height: 173px;
  margin: 0;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
}
.event-timeline #timeline-list .city:before {
  content: "";
  display: block;
  width: 735px;
  height: 173px;
  background-image: url(../images/bg_pariscity.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  left: -20px;
}
.event-timeline #timeline-list .circle {
  display: inline-block;
  position: relative;
  vertical-align: top;
  top: 52px;
  width: 90px;
  height: 90px;
  margin: 0 20px;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
}
.event-timeline #timeline-list .circle:before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  background-image: -webkit-linear-gradient(330deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  background-image: linear-gradient(120deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  z-index: 0;
  top: -5px;
  left: -5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
}
.event-timeline #timeline-list .circle:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #666;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  bottom: -45px;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
}
.event-timeline #timeline-list .circle.is-active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.event-timeline #timeline-list .circle.is-active:before {
  width: 120px;
  height: 120px;
  top: -15px;
  left: -15px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwOGNjOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMzA4Y2M4Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: -webkit-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: linear-gradient(120deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
}
.event-timeline #timeline-list .circle.is-active a {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.event-timeline #timeline-list .circle.is-active span {
  bottom: -60px;
}
.event-timeline #timeline-list .circle.is-active:after {
  width: 10px;
  height: 10px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwOGNjOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMzA4Y2M4Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: -webkit-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: linear-gradient(120deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  margin: -5px 0 0 -5px;
  bottom: -45px;
}
.event-timeline #timeline-list .circle:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.event-timeline #timeline-list .circle:hover:before {
  width: 120px;
  height: 120px;
  top: -15px;
  left: -15px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMwOGNjOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMzA4Y2M4Ii8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZGMyNDQzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: -webkit-linear-gradient(330deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
  background-image: linear-gradient(120deg, #308cc8, #308cc8, #ffffff, #ffffff, #dc2443, #dc2443);
}
.event-timeline #timeline-list .circle:hover span {
  bottom: -60px;
}
.event-timeline #timeline-list .circle:hover a {
  -moz-transform: scale(1.2, 1.2);
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.event-timeline a {
  display: block;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
  text-decoration: none;
  position: relative;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  z-index: 2;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
}
.event-timeline span {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  bottom: -70px;
  -moz-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -o-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
  transition: all 400ms cubic-bezier(0.67, 0, 0.16, 1);
}
@media (max-width: 1450px) {
  .event-timeline {
    margin: 1% auto 0;
  }
}
@media (max-width: 1024px) {
  .event-timeline {
    width: 100%;
  }
  .event-timeline li,
  .event-timeline a {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 768px) {
  .event-timeline #timeline-list {
    padding: 0 0 20px 0;
  }
  .event-timeline span {
    bottom: -80px;
  }
}
@media (max-width: 480px) {
  .event-timeline a:before {
    bottom: -29px;
  }
}

section {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
section .title {
  text-align: center;
}
section .title h1 {
  font-family: 'Libre Baskerville', serif;
  color: #a97935;
  font-size: 50pt;
  line-height: 1em;
}
section .title h1 p {
  font-size: 26pt;
  color: #333;
}
@media (max-width: 1450px) {
  section .title h1 {
    font-size: 42px;
  }
  section .title h1 p {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  section .title h1 {
    font-size: 40px;
  }
  section .title h1 p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  section {
    height: auto;
    overflow: inherit;
  }
}

.footer {
  position: relative;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
}

.copyright {
  width: 70%;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
}
.copyright:before, .copyright:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
}
.copyright:before {
  width: 60px;
  height: 40px;
  background-image: url(../images/icon-logo_footer_01.png);
  background-size: 60px 40px;
}
.copyright:after {
  width: 88px;
  height: 28px;
  background-image: url(../images/icon-logo_footer_02.png);
  background-size: 88px 28px;
}
.copyright .text {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}
.copyright p {
  text-align: left;
}
.copyright span {
  display: block;
  text-align: left;
}
@media (max-width: 1450px) {
  .copyright {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .copyright {
    width: 90%;
    padding: 10px 0 0 0;
  }
  .copyright .text {
    width: 70%;
    padding: 0 2%;
  }
}
@media (max-width: 768px) {
  .copyright {
    width: 100%;
    background-color: #222;
    color: white;
  }
  .copyright p, .copyright span {
    text-align: center;
  }
  .copyright:before, .copyright:after {
    display: none;
  }
}

@media (max-width: 768px) {
  .mobile-logo {
    text-align: center;
    background-color: white;
    padding: 10px 0;
  }
  .mobile-logo > div {
    margin: 0 10px;
  }
  .mobile-logo .uni-president {
    display: inline-block;
    width: 60px;
    height: 40px;
    background-image: url(../images/icon-logo_footer_01.png);
    background-size: 60px 40px;
  }
  .mobile-logo .presco {
    display: inline-block;
    width: 88px;
    height: 28px;
    background-image: url(../images/icon-logo_footer_02.png);
    background-size: 88px 28px;
  }
}
.bx-wrapper {
  position: relative;
}

.is-loading .loading {
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.is-loading .loading .logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.is-loaded .loading {
  -moz-transform: translate3d(0, -200%, 0);
  -webkit-transform: translate3d(0, -200%, 0);
  transform: translate3d(0, -200%, 0);
}
.is-loaded .loading .logo {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #111;
  -moz-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1) 500ms;
  -o-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1) 500ms;
  -webkit-transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1);
  -webkit-transition-delay: 500ms;
  transition: all 700ms cubic-bezier(0.67, 0, 0.16, 1) 500ms;
  z-index: 99;
  top: 0;
}
.loading .logo {
  display: block;
  position: fixed;
  width: 175px;
  height: 90px;
  background-image: url(../images/icon-logo.png);
  left: 50%;
  top: 50%;
  margin: -45px 0 0 -88px;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .loading .logo {
    background-image: url(../images/icon-logo@2x.png);
    background-size: 175px 90px;
  }
}

#jpreOverlay {
  z-index: 99 !important;
}

#jpreLoader {
  width: 100%;
  height: 100%;
  top: 0 !important;
}

#jpreBar {
  position: fixed;
  height: 3px !important;
  background-color: #a97935;
  bottom: 0;
  left: 0;
}

#jprePercentage {
  position: absolute !important;
  top: 65%;
  left: 50%;
  width: 50px;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-left: -25px;
}

#jpreButton {
  display: none;
}

/**
 * fullPage 2.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent;
}

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box;
}

.fp-slide {
  float: left;
}

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.fp-slidesContainer {
  float: left;
  position: relative;
}

.fp-scrollable {
  overflow: scroll;
}

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.bottom {
  bottom: 17px;
}
.fp-slidesNav.top {
  top: 17px;
}

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
.fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
.fp-slidesNav ul li a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
}
#fp-nav ul li .fp-tooltip.right {
  right: 20px;
}
#fp-nav ul li:hover .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}

.fp-slidesNav ul li {
  display: inline-block;
}
