a {
    color: #3b8bba;
    text-decoration: none;
}
#menu .pure-menu-heading {
    background: none;
}
#main .content {
    max-width: 90%;
}

.right {
    float: right;
    margin-bottom: 10px;
}
/* green call to action button class */
.notice {
    background-color: #61B842;
    color: white;
}

.pure-button {
    font-family: inherit;
}
a.pure-button-primary {
    color: white;
}

.muted {
    color: #ccc;
}